div#logo{width:66px;height:66px;margin:0 auto;background-size:66px 66px}
div#logo a{display:block;width:66px;height:66px;margin:0 auto}
#header #logo{margin:20px auto;}
.autocomplete-suggestion{padding:5px}
.hidden{position:absolute;left:-10000px;}
div#footer>p:first-child:after{content:" | Genaviv theme by sarek"}